!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    %title== Not Found 
  %body
    #header
  %img{:id => 'fail', :src => 'http://www.glitterbacon.com/uploads/KhQblossomingbasesecretmoonfast.png'}
