#covers
  - albums.each do |album, art|
    - if art != "missing"
      .album.has_cover
        %img{:src => art, :width => '300px', :height => '300px', :style => "z-index:100", :album => album, :artist => CGI.escape(artist)}
          %span{:style => "z-index:200"}
            %center
              =album
  - albums.each do |album, art|
    - if art == "missing"
      .album.no_cover
        %img{:src => "/images/nocover.png", :width => '300px', :height => '300px', :album => album, :artist => CGI.escape(artist)}
          %h3
            =album