!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    :javascript
      if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)))
        {
          location.href='/iphone';
        }
    %title== FTANG!
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %script{:type => "text/javascript", :src => "http://jqueryjs.googlecode.com/files/jquery-1.3.js"}
    %script{:type => "text/javascript", :src => "jqueryhoverIntent.js" }
    %script{:type => "text/javascript", :src => "jquery.listnav-2.0.js"}
    %script{:type => "text/javascript", :src => "http://www.google-analytics.com/urchin.js"}
  %body
    #header
      %h1.home_nav
        FTANG!
    #content
    
:javascript
  $( function() {
    var load_artists = function() {
      $.get( '/artists', function(data) {
        $('#content').html( data );
        $('ul').listnav({showCounts: false});
        setup_routes();
      });
    };
      
    var setup_routes = function() {
      $("a").click( function(e) {
        e.preventDefault();
        $.get( $(this).attr('href'), function(data) {
          $('#content').html( data );
          $('#header').append("<div id='header_artist'><span>></span><h1>" + e.originalTarget.innerHTML + "</h1></div>")
        });
      }); 
    };          
    
    load_artists();
    
    $(".home_nav").click( function() {
      load_artists();
      $('#header_artist').remove();
    });
    
    try {
    _uacct = "UA-9156272-1";
    urchinTracker();
    } catch(err) {}
  });