!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    :javascript
      if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)))
        {
          location.href='/iphone';
        }
    %title== FTANG!
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "jplayer.css"}
    %script{:type => "text/javascript", :src => "jquery-1.3.2.min.js"}
    %script{:type => "text/javascript", :src => "jqueryhoverIntent.js" }
    %script{:type => "text/javascript", :src => "jquery.listnav-2.0.js"}
    %script{:type => "text/javascript", :src => "http://www.google-analytics.com/urchin.js"}
    %script{:type => "text/javascript", :src => "jquery.jplayer.js"}
    %script{:type => "text/javascript", :src => "ftang.js"}

  %body
    #header
      %h1.home_nav
        FTANG!
      #header_artist
        %span
          >
        %h1
      #header_album
        %span
          >
        %h1
      #toggle_playlist
        %span= "toggle playlist"
      #jquery_jplayer
      #player_container
        %ul#player_controls
          %li#player_play
            play
          %li#player_pause
            pause
          %li#player_stop
            stop
          %li#player_volume_min
            min volume
          %li#player_volume_max
            max volume
          %li#ctrl_prev
            previous
          %li#ctrl_next
            next
        #play_time
        #total_time
        #player_progress
          #player_progress_load_bar
            #player_progress_play_bar
        #player_volume_bar
          #player_volume_bar_value
    #content
    #playlist