!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    %style{:type => "text/css" }
      :plain
        body { }
        .child { margin: 0 auto; padding: 1em 2em; border: 1px solid; }
        .chapter { margin: 0 2em; }
        h3, h2 { margin: .2em 0; font-size: 135%; font-weight: normal; }
        p { line-height: 1.5em }
    :javascript
      if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)))
        {
        location.href='/iphone';
        }
    %title== Ftang! Player
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %script{:type => "text/javascript", :src => "http://jqueryjs.googlecode.com/files/jquery-1.3.js"}
    %script{:type => "text/javascript", :src => "/jquery.listnav-2.0.js"}
  
  %body#txt
    #header
      %h2
        %a{:href => '/'}
          Ftang! Player
    #tiles-nav
    #tiles
      %ul{:id => "tiles", :class => "tiles"}
        - @artists.each do |artist|
          %li.tiles
            %a{:href => "/play/#{artist}", :class => "tiles"}
              ="#{artist}"
    
    / $('ul').makeacolumnlists({cols:5,colWidth:'20%',equalHeight:true,startN:1});
    %script{:type => "text/javascript", :src => "/resize.js"}
    
  :javascript
    $('ul').listnav({showCounts: false});
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    try {
    var pageTracker = _gat._getTracker("UA-9156272-1");
    pageTracker._trackPageview();
    } catch(err) {}
    
