@import "/blueprint/src/reset.css";
@import "/blueprint/src/typography.css";
@font-face {
  font-family: "Museo 700";
  src: url('Museo700-Regular.otf') format("opentype"); }

@font-face {
  font-family: "Museo Sans 500";
  src: url('MuseoSans_500.otf') format("opentype"); }

body {
  background-color: #FFF; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%; }

#content {
  padding-top: 50px; }

.tiles li {
  list-style: none;
  background: #fff;
  text-align: left;
  float: left;
  font-family: Helvetica;
  padding-right: 6px;
  line-height: 1.2em;
  margin: 1px;
  padding-left: 6px; }
  .tiles li:hover {
    color: #f1e900; }

.home_nav {
  -x-system-font: none;
  color: #eeeeee;
  font-family: "Museo 700", Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 40px;
  text-shadow: 0 7px 0 #3c3809;
  margin: 0px;
  float: left; }
  .home_nav:hover {
    color: #fff; }

#header_artist, #header_album {
  display: none;
  width: auto; }
  #header_artist span, #header_album span {
    float: left;
    line-height: 40px;
    padding: 0px 6px;
    font-size: 40px; }
  #header_artist h1, #header_album h1 {
    font-family: "Museo Sans 500", Helvetica;
    line-height: 45px;
    float: left; }

#jquery_jplayer {
  float: right; }

.ln-letters {
  overflow: hidden;
  width: 100%;
  height: 40px; }
  .ln-letters a {
    overflow: hidden;
    text-align: center;
    font-size: 29.5px;
    width: 3.4%;
    margin: 0px;
    display: block;
    float: left;
    border-right: none;
    text-decoration: none; }
    .ln-letters a:hover, .ln-letters a.ln-selected {
      background-color: #eaeaea; }
    .ln-letters a.ln-disabled {
      color: #ccc; }
    .ln-letters a.all {
      width: 60px; }

.ln-letter-count {
  text-align: center;
  font-size: 0.8em;
  line-height: 1;
  margin-bottom: 3px;
  color: #336699; }

h1 {
  color: #e2fae4; }

h2 {
  padding: 3px 0px 0px 3px;
  margin: 0px;
  line-height: 40px;
  font-size: 35px;
  float: left; }

h1 a {
  color: #e2fae4; }

h2 a {
  color: #e2fae4; }
  h2 a:hover {
    color: #FFF; }

.separator {
  float: left;
  padding: 0px 3px 0px 3px;
  margin: 0px 0px 3px 0px;
  font-size: 30px; }

h3 {
  line-height: 20px;
  padding: 0px;
  margin: 0px;
  color: #000; }
  h3:hover {
    color: #123; }

h4 {
  color: #000;
  padding-left: 5px;
  padding-top: 5px; }

a {
  text-decoration: none;
  color: #ccc; }

#header {
  width: 100%;
  height: 50px;
  position: fixed;
  background: #00c0f3;
  z-index: 20; }
  #header img {
    position: absolute;
    top: 0px;
    right: 0px; }

#cover {
  float: left;
  width: 300px;
  height: 325px;
  text-align: bottom;
  margin: 0px 20px 20px 20px; }
  #cover img {
    border: 5px solid #ccc; }
  #cover span {
    color: #000; }

#covers {
  float: left;
  padding: 50px 3px 5px 3px;
  font-size: 18px;
  color: #ccc; }

a:hover {
  color: #00c0f3; }

#tiles-nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

#tiles {
  float: left;
  padding: 3px 0px 0px 0px;
  margin: 0px;
  font-size: 18px; }

#nocovers {
  float: left;
  width: 300px;
  height: 300px;
  text-align: bottom;
  margin: 0px 20px 20px 15px;
  border: 5px solid #ccc; }
  #nocovers h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    line-height: 1.5em;
    width: 250px;
    text-align: center; }

br {
  clear: left; }
